/* Colores de texto */
$color_1: white;
$color_2: black;
$color_3: #ffd700;

/* Colores de fondo de distintos segmentos del sitio web */
$background-color_1: #333;
$background-color_2: #ddd;
$background-color_3: #f1f1f1;
$background-color_4: white;
$background-color_5: #aaa;
$background-color_6: rgba(0,0,0,0.8);
$background-color_7: #bbb;
$background-color_8: #717171;
$background-color_9: black;
$background-color_10: #008000;

/* Colores para elementos SVG animado */
$background-color_11: $background-color_9;
$background-color_12: yellow;
$background-color_13: blue;
$background-color_14: green;
$background-color_15: brown;
